
body{
    background-color: rgb(17, 17, 39);
}


.navbar {
    background-color: #1c1c1c;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.navbar-brand{
    color: #ffffff;
}
.navbar-toggler-icon{
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    border: black;
    width: 50px;
}

.navbar-brand:hover {
    color: white;
    text-decoration: underline;
}
.navbar-nav .nav-link {
    color: white;
    font-size: 1rem;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.4s ease, color 0.3s ease;
}
.navbar-nav .nav-link:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}
.navbar-nav .active {
    background-color: white;
    color: black ;
    font-weight: bold;
}
.logo {
    width: 40px;
    height: 50px;
    margin-right: 10px;
}
.contact_btn{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #e0dfdf;
}
h1{
    color: black;
    font-weight: 700;
    font-size: 66px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card_btn{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    height: 300px;
    margin: 10px;
}
form{
    width: 500px;
    background-color: rgb(234, 233, 229);
    height: 490px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
.mb-4{
    border-radius: 20px;
}
.form-floating{
    width: 450px;
    margin: 20px;
}
.mb-3{
    margin: 20px;
}
.mb-4{
    margin: 20px;
}
.form-check{
    margin: 20px;   
}
.btn_123{
    width: 450px;
    margin: 20px;
}
main{
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mail-container{
    border: 2px solid black;
    width: 100%;
    height: 700px;
    background-image: url(contact.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.mail-container{
    display: flex;
    height: 700px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.mail2{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mail2 form{
    width: 670px;
    height: 450px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur 10px;
    flex-wrap: wrap;
}
.mail2 form h1{
    color: #fff;
    font-weight: 500;
    width: 500px;
    margin-top: 20px;
    text-align: center;

}
.mail2 form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;

}
.mail2 form input::placeholder{
    color: #ddd;
}
.mail2 form #Lastname,
.mail2 form #Mobile{
    margin-left: 20px;
}
.mail2 form h4{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}
.mail2 form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid#fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 50px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
    
}
textarea ::-webkit-scrollbar{
    width: 1em;
}
textarea ::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.713);
}
.mail2 form #Button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}
.mail2 form #Button:hover{
    opacity: 0.7;
}

.mail1{
    width: 400px;
    height: 450px;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur 10px;
}
.mail_1>h2{
    text-align: center;
}
.mail_1>h3{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 40px;
    margin-left: 10px;
}
.mail_1>p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.mb-6{
    background-color: #ddd;
}

.contactsecond{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe{
    margin-top: 200px;
    margin-right: 50px;
    margin-bottom: 90px;
}
.contact1>h1{
    width: 600px;
    font-weight: 600;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contact1>p{
    width: 290px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.col_footer1{
    text-decoration: none;
    font-weight: bolder;
    color:white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #1c1c1c;
}